config BLE_MIDI
	bool "Enable BLE MIDI"
	depends on BT
  depends on BT_PERIPHERAL

if BLE_MIDI

config BLE_MIDI_SEND_RUNNING_STATUS
  bool "Enable running status for transmitted MIDI messages"
	default n

config BLE_MIDI_SEND_NOTE_OFF_AS_NOTE_ON
  bool "Represent note off messages as note on with zero velocity. Increases running status efficiency."
  default n

config BLE_MIDI_TX_PACKET_MAX_SIZE
  int ""
  default 244

config BLE_MIDI_CONN_EVENT_NOTIFICATION_DISTANCE_US
  int "Prepare and submit BLE packets for transmission this many μs before each connection event. Used when BLE_MIDI_TX_MODE_CONN_EVENT is enabled."
  default 1200

config BLE_MIDI_TX_QUEUE_PACKET_COUNT
  int ""
  default 1

config BLE_MIDI_TX_FIFO_SIZE
  int ""
  default 256

choice BLE_MIDI_TX_MODE
    bool "Determines how transmission of BLE packets is triggered"
    default BLE_MIDI_TX_MODE_SINGLE_MSG

config BLE_MIDI_TX_MODE_SINGLE_MSG
    bool "Outgoing MIDI messages are sent immediately in separate BLE packets."

config BLE_MIDI_TX_MODE_MANUAL
    bool "Outgoing MIDI messages are buffered but not sent until the caller decides to do so."
    select RING_BUFFER

config BLE_MIDI_TX_MODE_CONN_EVENT
    bool "Outgoing MIDI messages are buffered and sent just before the next connection event. Uses the Event Trigger API added in nRF Connect SDK v2.6.0."
    select RING_BUFFER
    select BT_CTLR_SDC_EVENT_TRIGGER
    # SoftDevice seems to use TIMER0, so don't use that.
    # see https://devzone.nordicsemi.com/f/nordic-q-a/38502/nrfx-timer-issue
    select NRFX_TIMER3
    # CONFIG_BT_LL_SOFTDEVICE_MULTIROLE is needed for CONFIG_BT_CTLR_SDC_EVENT_TRIGGER to work.
    # Unfortunately, it also adds 60kbytes to the image size in an optimized build.
    # See https://devzone.nordicsemi.com/f/nordic-q-a/112166/does-the-event-trigger-api-always-require-config_bt_central-significantly-increases-peripheral-image-size
    select CONFIG_BT_LL_SOFTDEVICE_MULTIROLE
    # select CONFIG_BT_CENTRAL

config BLE_MIDI_TX_MODE_CONN_EVENT_LEGACY
    bool "Outgoing MIDI messages are buffered and sent just before the next connection event. Relies on the MPSL radio notifications API that was removed in nRF Connect SDK v2.6.0 or newer."
    select RING_BUFFER
    select MPSL

endchoice

module = BLE_MIDI
module-str = BLE MIDI
source "subsys/logging/Kconfig.template.log_config"

endif # BLE_MIDI