config BLE_MIDI
	bool "Enable BLE MIDI"
	depends on BT
  depends on BT_PERIPHERAL

if BLE_MIDI

config BLE_MIDI_SEND_RUNNING_STATUS
  bool "Enable running status for transmitted MIDI messages"
	default n

config BLE_MIDI_SEND_NOTE_OFF_AS_NOTE_ON
  bool "Represent note off messages as note on with zero velocity. Increases running status efficiency."
  default n

config BLE_MIDI_TX_PACKET_MAX_SIZE
  int ""
  default 128

choice BLE_MIDI_TX_MODE
    bool "Determines how transmission of BLE packets is triggered"
    default BLE_MIDI_TX_MODE_SINGLE_MSG

config BLE_MIDI_TX_MODE_SINGLE_MSG
    bool "Outgoing MIDI messages are sent in separate BLE packets."

config BLE_MIDI_TX_MODE_MANUAL
    bool "Outgoing MIDI messages are buffered but not sent until the caller decides to do so."
    select RING_BUFFER

config BLE_MIDI_TX_MODE_CONN_EVENT
    bool "Outgoing MIDI messages are buffered and sent just before the next connection event using MPSL radio notifications."
    select RING_BUFFER

endchoice

module = BLE_MIDI
module-str = BLE MIDI
source "subsys/logging/Kconfig.template.log_config"

endif # BLE_MIDI