config BLE_MIDI
	bool "Enable BLE MIDI"
	depends on BT
  depends on BT_PERIPHERAL

if BLE_MIDI

config BLE_MIDI_SEND_RUNNING_STATUS
  bool "Enable running status for transmitted MIDI messages"
	default n

config BLE_MIDI_SEND_NOTE_OFF_AS_NOTE_ON
  bool "Represent note off messages as note on with zero velocity. Increases running status efficiency."
  default n

config BLE_MIDI_NRF_BATCH_TX
  depends on RING_BUFFER
  bool ""
  default n

config BLE_MIDI_TX_PACKET_MAX_SIZE
  int ""
  default 128

module = BLE_MIDI
module-str = BLE MIDI
source "subsys/logging/Kconfig.template.log_config"

endif # BLE_MIDI